/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                    # GENERAL STYLE
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
}

.main-heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  color: hsl(229, 31%, 21%);
}

.heading-secondary {
  font-size: 2.4rem;
  color: hsl(229, 31%, 21%);
}

.heading-terinary {
  font-size: 1.8rem;
  color: hsl(229, 31%, 21%);
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                    # REUSE STYLE
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.question-btn:link,
.question-btn:visited,
.extension-link:link,
.extension-link:visited,
.operation-link:link,
.operation-link:visited,
.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1.6rem 2.4rem;
  background-color: hsl(229, 8%, 95%);
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: hsl(229, 31%, 21%);
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                    # LINKS
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* NAV LINKS */
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(229, 31%, 21%);
  font-size: 1.4rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: hsl(0, 94%, 66%);
}

.login:link,
.login:visited {
  background-color: hsl(0, 94%, 66%);
  color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 6px;
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.1);
  border: 2px solid hsl(0, 94%, 66%);
  transition: all 0.3s;
}

.login:hover,
.login:active {
  background-color: transparent;
  color: hsl(0, 94%, 66%);
}

/* HERO */
.btn-exp:link,
.btn-exp:visited {
  border: 2px solid hsl(231, 69%, 60%);
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  transition: all 0.3s;
}

.btn-exp:hover,
.btn-exp:active {
  background-color: transparent;
  color: hsl(228, 45%, 44%);
}

.btn-exp-2:link,
.btn-exp-2:visited {
  border: 2px solid hsl(229, 8%, 95%);
  transition: all 0.3s;
}

.btn-exp-2:hover,
.btn-exp-2:active {
  border-color: hsl(229, 31%, 21%);
  background-color: transparent;
}

/* FOOTER LINKS */
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  display: inline-block;
  color: hsl(229, 31%, 90%);
  font-size: 1.4rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: hsl(0, 94%, 65%);
}
